test-4.1.json
[{"id":"b2e04683.825318","type":"tab","label":"Test ver 4.1","disabled":false,"info":""},{"id":"c016131.e98faf","type":"function","z":"b2e04683.825318","name":"","func":"msg.payload ={\n   //dps : 1,\n    dps: 1,\n    set : msg.payload === \"NULL\" ? null : msg.payload\n}\n\n/*\n\n    */\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":520,"wires":[["2014f698.93686a"]]},{"id":"993c8470.01a278","type":"inject","z":"b2e04683.825318","name":"SET 1 On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":260,"y":500,"wires":[["c016131.e98faf"]]},{"id":"6403cde.251ab34","type":"inject","z":"b2e04683.825318","name":"SET 1 Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":260,"y":540,"wires":[["c016131.e98faf"]]},{"id":"8f69fe68.9e4ce","type":"catch","z":"b2e04683.825318","name":"","scope":null,"uncaught":false,"x":640,"y":140,"wires":[["3764c769.6e1298"]]},{"id":"3764c769.6e1298","type":"debug","z":"b2e04683.825318","name":"On Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":140,"wires":[]},{"id":"ff4bd686.53ae18","type":"debug","z":"b2e04683.825318","name":"Device Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.dps","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":320,"wires":[]},{"id":"15d22ba6.824b84","type":"debug","z":"b2e04683.825318","name":"Device State","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":380,"wires":[]},{"id":"1991e72.c15c719","type":"inject","z":"b2e04683.825318","name":"DISCONNECT ACTION","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"CONTROL\",\"action\":\"DISCONNECT\"}","payloadType":"json","x":300,"y":220,"wires":[["2014f698.93686a"]]},{"id":"2014f698.93686a","type":"function","z":"b2e04683.825318","name":"empty","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":260,"wires":[["49c4c3d0.c4b16c","90ee236b.aa69a"]]},{"id":"49c4c3d0.c4b16c","type":"debug","z":"b2e04683.825318","name":"Device INPUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":220,"wires":[]},{"id":"da36327c.8eee5","type":"inject","z":"b2e04683.825318","name":"CONNECT ACTION","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"CONTROL\",\"action\":\"CONNECT\"}","payloadType":"json","x":290,"y":260,"wires":[["2014f698.93686a"]]},{"id":"2e5078c6.c575a8","type":"inject","z":"b2e04683.825318","name":"REFRESH DPS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"REFRESH\",\"requestedDPS\":[1,9,6,17,18,19,20]}","payloadType":"json","x":280,"y":160,"wires":[["2014f698.93686a"]]},{"id":"b3642a92.5716e8","type":"inject","z":"b2e04683.825318","name":"REFRESH SCHEMA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"REFRESH\",\"schema\":true}","payloadType":"json","x":290,"y":120,"wires":[["2014f698.93686a"]]},{"id":"1c71a51c.8a57db","type":"inject","z":"b2e04683.825318","name":"REFRESH","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"REFRESH\"}","payloadType":"json","x":260,"y":80,"wires":[["2014f698.93686a"]]},{"id":"7ef7100d.e8a8e","type":"inject","z":"b2e04683.825318","name":"RECONNECT ACTION","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"CONTROL\",\"action\":\"RECONNECT\"}","payloadType":"json","x":300,"y":300,"wires":[["2014f698.93686a"]]},{"id":"1d015924.e49e67","type":"inject","z":"b2e04683.825318","name":"GET 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"operation\": \"GET\", \"dps\":1 }","payloadType":"json","x":250,"y":400,"wires":[["2014f698.93686a"]]},{"id":"f87d9fbe.8e087","type":"inject","z":"b2e04683.825318","name":"SCHEMA","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\": \"GET\", \"schema\":true}","payloadType":"json","x":260,"y":360,"wires":[["2014f698.93686a"]]},{"id":"36241cf5.6a3d04","type":"tuya-smart-device","z":"b2e04683.825318","d":true,"deviceName":"power strip","disableAutoStart":false,"deviceId":"3613666124a1600db127","deviceKey":"630673f6ade7b291","deviceIp":"","retryTimeout":"5000","findTimeout":"5000","tuyaVersion":"3.1","eventMode":"event-both","x":690,"y":500,"wires":[[],[]],"info":"CUSTOMIZATION\n\n  - duplicate for any new device\n  - set proprties: deviceId (or IP), key, retry timeout (1000 ms), find timeout (5000 ms)."},{"id":"acb7f6fe.f744e8","type":"inject","z":"b2e04683.825318","name":"SET 1  null","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"NULL","payloadType":"str","x":260,"y":460,"wires":[["c016131.e98faf"]]},{"id":"90ee236b.aa69a","type":"tuya-smart-device","z":"b2e04683.825318","deviceName":"WiFi plug","disableAutoStart":true,"deviceId":"bf94066e80ba060a04vmxi","deviceKey":"ddfd532e9962d0a8","deviceIp":"","retryTimeout":"5000","findTimeout":"3000","tuyaVersion":"3.1","eventMode":"event-both","x":700,"y":340,"wires":[["ff4bd686.53ae18"],["15d22ba6.824b84"]],"info":"CUSTOMIZATION\n\n  - duplicate for any new device\n  - set proprties: deviceId (or IP), key, retry timeout (1000 ms), find timeout (5000 ms)."},{"id":"ff8d0c96.d96d3","type":"tuya-smart-device","z":"b2e04683.825318","d":true,"deviceName":"smart umidifier","disableAutoStart":false,"deviceId":"554301602cf4325eae00","deviceKey":"17266b4c72b1bdb8","deviceIp":"","retryTimeout":"1000","findTimeout":"1000","tuyaVersion":"3.1","eventMode":"event-both","x":700,"y":440,"wires":[[],[]],"info":"CUSTOMIZATION\n\n  - duplicate for any new device\n  - set proprties: deviceId (or IP), key, retry timeout (1000 ms), find timeout (5000 ms)."},{"id":"9c4ca070.f062e","type":"inject","z":"b2e04683.825318","name":"malformed SET","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{  \"dps\": 1 }","payloadType":"json","x":280,"y":600,"wires":[["2014f698.93686a"]]},{"id":"8415a976.984868","type":"inject","z":"b2e04683.825318","name":"SET not-existent DP","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{  \"dps\": 101 , \"set\": true}","payloadType":"json","x":290,"y":640,"wires":[["2014f698.93686a"]]}]